/build/
/.vscode/*.json

__pycache__/
*.pyc

/TestImagingPar/*.json
/TestImagingPar/*.npy
/TestImagingPar/*.mat

/TestChirpScalingAlgo/*.html
/TestChirpScalingAlgo/result/
/TestChirpScalingAlgo/golden/

/TestMultiPointTarget/iter_result*
/TestMultiPointTarget/echo_signal/*.npy
/TestMultiPointTarget/focused_image/*.npy
/TestMultiPointTarget/focused_image/*.html
/TestMultiPointTarget/point_target_location/*.json
/TestMultiPointTarget/*.html
/TestMultiPointTarget/*.json
/TestMultiPointTarget/*.png

/gen_raw_data/*.png
/UmbraDataProc/*.tif
/UmbraDataProc/*.png
/UmbraDataProc/*.json

/venv/
/document/simulation_report/*
!/document/simulation_report/*.tex
!/document/simulation_report/*.pdf
!/document/simulation_report/.latexmkrc

/document/group_meeting/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/*
!/document/group_meeting/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/*.tex
!/document/group_meeting/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/*.pdf
!/document/group_meeting/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/.latexmkrc

/ship_detect/results/
/ship_detect/test_data/
!.gitkeep

*.pt
*.bkp
*.dtmp

end_to_end_pipeline/images
end_to_end_pipeline/labels
end_to_end_pipeline/original_eval
end_to_end_pipeline/original_union_eval
end_to_end_pipeline/union_csa_union_eval
end_to_end_pipeline/union_masked
end_to_end_pipeline/union_masked_eval
end_to_end_pipeline/union_pipeline
end_to_end_pipeline/union_csa_t80_union_eval
end_to_end_pipeline/union_csa_t100_union_eval
end_to_end_pipeline/union_csa_t120_union_eval