/build/
/.vscode/*.json

/TestImagingPar/*.json
/TestImagingPar/*.npy
/TestImagingPar/*.mat
/TestImagingPar/__pycache__/

/TestChirpScalingAlgo/*.html
/TestChirpScalingAlgo/result/
/TestChirpScalingAlgo/golden/

/TestMultiPointTarget/iter_result*
/TestMultiPointTarget/echo_signal/*.npy
/TestMultiPointTarget/focused_image/*.npy
/TestMultiPointTarget/focused_image/*.html
/TestMultiPointTarget/point_target_location/*.json
/TestMultiPointTarget/*.html
/TestMultiPointTarget/*.json
/TestMultiPointTarget/*.png
/TestMultiPointTarget/__pycache__/

/gen_raw_data/*.png
/UmbraDataProc/*.tif
/UmbraDataProc/*.png
/UmbraDataProc/*.json
/UmbraDataProc/__pycache__/

/venv/
/document/simulation_method/*
!/document/simulation_method/*.tex
!/document/simulation_method/*.pdf
!/document/simulation_method/.latexmkrc
