/build/
/.vscode/*.json

/TestImagingPar/*.json
/TestImagingPar/*.npy
/TestImagingPar/*.mat
/TestImagingPar/__pycache__/

/TestChirpScalingAlgo/*.html
/TestChirpScalingAlgo/result/
/TestChirpScalingAlgo/golden/

/TestMultiPointTarget/iter_result*
/TestMultiPointTarget/echo_signal/*.npy
/TestMultiPointTarget/focused_image/*.npy
/TestMultiPointTarget/focused_image/*.html
/TestMultiPointTarget/point_target_location/*.json
/TestMultiPointTarget/*.html
/TestMultiPointTarget/*.json
/TestMultiPointTarget/*.png
/TestMultiPointTarget/__pycache__/

/gen_raw_data/*.png
/UmbraDataProc/*.tif
/UmbraDataProc/*.png
/UmbraDataProc/*.json
/UmbraDataProc/__pycache__/

/venv/
/document/simulation_report/*
!/document/simulation_report/*.tex
!/document/simulation_report/*.pdf
!/document/simulation_report/.latexmkrc

/ship_detect/results/
/ship_detect/test_data/
!.gitkeep

*.pt
*.bkp
*.dtmp

end_to_end_pipeline/images
end_to_end_pipeline/labels
end_to_end_pipeline/point_target_location
end_to_end_pipeline/echo_signal
end_to_end_pipeline/focused_image
end_to_end_pipeline/csa_jpg
end_to_end_pipeline/*csa_eval
end_to_end_pipeline/*original_eval
end_to_end_pipeline/*threshold_eval
end_to_end_pipeline/threshold_jpg
end_to_end_pipeline/threshold_sweep
end_to_end_pipeline/csa_failures